@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --laundry-blue: rgb(4, 85, 192);
    --gray: #ededed;
}
*{
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CSS ALL */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

.col-4 .col {
    width: 100%;
}

.box_50 {
    width: 50%;
    float: right;
    padding-right: 0px;
}

.gambar_50 {
    width: 100%;
    /* float: right; */
    display: flex;
    justify-content: center;
}

.navbar-nav {
    justify-content: space-evenly;
    transition: all 0.3s ease;
}


/* CSS Navbar*/
.navigasi {
    position: sticky;
    width: 100%;
    height: auto;
    margin: auto;
    transition: all 0.5s ease;
    background-color: #fff;
}

.nav-b {
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease;
    padding-right: 0px;
    padding-left: -50px;
}

.nav-b:hover {
    font-size: 48px;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.nav-link {
    font-weight: 500;
    transition: all 0.5s ease;;
}

.nav-i {
    padding: 0px;
    transition: all 0.3s ease;
}
body{
    font-family: 'Inter', sans-serif;
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
    transition: all 0.3s ease;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Inter', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 600;
    color:rgb(4, 85, 192);
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    border-radius: 2rem;
    background: var(--alice-blue);
    padding: 3.2rem 0;
    transition: all 0.3s ease;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
    transition: all 0.3s ease;
}
.product:hover{
    /*box-shadow: 0px 15px 25px rgba(4, 85, 192, 0.25);*/
    box-shadow: 0px 15px 25px rgba(77, 77, 77, 0.25);
    
}
.product-content{
    border-radius: 1rem 1rem 0rem 0rem;
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
    
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}
.btn-cart{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--laundry-blue);
}
.btn-buy{
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background: white;
}
.btn-buy:hover{
    background: var(--laundry-blue);
    color: #fff;
}
.product-info{
    border-radius: 0rem 0rem 1rem 1rem;
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--laundry-blue);
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    font-size: larger;
    padding-top: 0.3rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price-disc{
    padding-top: 0.3rem;
    text-decoration: line-through;
    color: var(--laundry-blue);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--laundry-blue);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--laundry-blue);
    color: white;
    display: inline-block;
    padding: 0.75rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 1rem 0rem 1rem 0rem;
}

/* product collection */
.product-collection{
    padding: 3.2rem 0;
}
.product-collection-wrapper{
    padding: 3.2rem 0;
}
.product-col-left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/fashion-img-2.png") center/cover no-repeat;
}
.flex{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    background: #eaa001;
}
.product-col-r-bottom > div:last-child{
    background: #0090ff;
}
.product-col-content{
    text-align: center;
    color: white;
}
.product-collection .text-light{
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--laundry-blue);
}

.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color: var(--laundry-blue);
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color: var(--laundry-blue);
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }



/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}
